
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}

img {
  width: 55px;
  height: 55px;
}

/* Navbar logo */
.navbar-brand {
  font-size: 22px;
  text-transform: uppercase;
}

/* Navbar links */
.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Navbar link */
.navbar-link {
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
}

/* Navbar link hover */
.navbar-link:hover {
  color: #302119;
}

ul {
  list-style-type: none;
}

li {
  margin-right: 40px;
}

.active {
  color: #000;
}

.notActive {
  color: #4D5557;
}